.width-max-width-max {
  width: 100%;
}

.display-d-flex {
  display: flex;
}

.display-d-grid {
  display: grid;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #f4f5ef;
}

.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  grid-area: header;
  align-items: center;
  flex-direction: column;
  background-color: #f4f5ef;
}
header .logo {
  margin-bottom: 50px;
}
header .logo img {
  width: 200px;
}
header .navbar {
  padding: 0px;
  flex-direction: column;
}
header .navbar .collapse {
  z-index: 1;
  padding-left: 10px;
}
header .navbar .collapse .navbar-nav {
  justify-content: space-around;
  align-self: flex-end;
}
header .navbar .collapse .navbar-nav .nav-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  justify-content: space-around;
}
header .navbar .collapse form {
  height: 30px;
  justify-content: end;
  margin-bottom: 40px;
  margin-right: 20px;
}
header .navbar .collapse form .btn {
  background-color: rgba(239, 31, 31, 0.8666666667);
  color: #ffffff;
  border-color: rgba(239, 31, 31, 0.4470588235);
  border-radius: 10px;
  font-size: 12px;
  text-transform: capitalize;
  align-content: center;
  width: 60px;
  height: 30px;
}
header .navbar .collapse form input {
  font-size: 13px;
  text-align: center;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.4509803922);
}
header .navbar .breadcrumb-container {
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
header .navbar .breadcrumb-container .breadcrumb-tittle {
  font-size: 30px;
  text-decoration: underline 2px #808080;
  padding-top: 50px;
}

/*ofertas-header*/
.ofertas-navidad {
  padding-top: 50px;
}
.ofertas-navidad .img-navidad {
  border-bottom: 1px groove rgba(128, 128, 128, 0.288);
  padding-bottom: 30px;
}
.ofertas-navidad .ofertas-navidad-text {
  padding-top: 20px;
  border-top: 1px groove rgba(128, 128, 128, 0.233);
  color: rgba(160, 0, 0, 0.788);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

/*main index*/
main {
  grid-area: main;
  background-color: #f4f5ef;
  padding-bottom: 50px;
}
main .banners-informativos {
  flex-direction: row;
  justify-content: space-around;
  margin: 40px 0px;
}
main .banners-informativos .informacion .bi-bi {
  font-size: 35px;
}

.title-primary {
  padding: 20px 0px;
  border-top-style: groove;
  border-bottom-style: groove;
  border-color: rgba(228, 0, 0, 0.967);
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

.productos-contenedor {
  width: 100%;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  gap: 20px 0px;
  justify-content: space-around;
}
.productos-contenedor .producto a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
}
.productos-contenedor .producto a .card {
  width: 12rem;
  height: 270px;
  font-size: 13px;
  margin-top: 10px;
  position: relative;
}
.productos-contenedor .producto a .card img {
  width: 100%;
}
.productos-contenedor .producto a .card .card-title {
  color: #808080;
  font-size: 15px;
}
.productos-contenedor .producto a .card .card-text {
  font-weight: 600;
}

/*main products*/
.main-producto {
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.main-producto .conteiner-grid-product {
  align-items: center;
  margin-top: 50px;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(2, 180px);
  gap: 80px;
}
.main-producto .conteiner-grid-product .products {
  justify-content: center;
}
.main-producto .conteiner-grid-product .products .contenedor-product {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.main-producto .conteiner-grid-product .products .contenedor-product .product-body h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.main-producto .conteiner-grid-product .products .contenedor-product .product-body .selector {
  justify-content: space-around;
}
.main-producto .conteiner-grid-product .products .contenedor-product .product-body .selector .measures {
  width: 50px;
  height: 20px;
  font-size: 12px;
  margin: 12px 5px;
}
.main-producto .conteiner-grid-product .products .contenedor-product .product-body .description {
  padding-top: 10px;
  font-size: 12px;
  color: #808080;
}
.main-producto .conteiner-grid-product .products .contenedor-product .product-body .price-desc {
  text-decoration: line-through;
  color: #808080;
}
.main-producto .conteiner-grid-product .products .contenedor-product .product-body .price {
  font-size: 18px;
  font-weight: 500;
}
.main-producto .conteiner-grid-product .products .contenedor-product button {
  height: 25px;
  background-color: rgba(239, 31, 31, 0.8666666667);
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
  border: none;
}
.main-producto .page-navegation {
  padding: 10px;
  justify-content: center;
}
.main-producto .page-navegation .pagination .page-item {
  width: auto;
}
.main-producto .page-navegation .pagination .page-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

/*ofertas.main*/
.contenedor-desc {
  position: relative;
}
.contenedor-desc .desc {
  font-size: 14px;
  padding: 5px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  top: 5px;
}

.ubic {
  padding: 60px 0px 20px 0px;
  flex-direction: column;
  align-items: center;
}
.ubic .bi-geo-alt-fill {
  padding: 20px;
}

.sidebar {
  grid-area: sidebar;
  padding-top: 20px;
}

.filter-container {
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}
.filter-container .filtro-button {
  width: 200px;
  height: 40px;
  border: 2px groove #808080;
  border-radius: 10px;
}
.filter-container .filtro-button .title-filtro {
  padding: 0px 5px;
  justify-content: space-between;
}
.filter-container .filtro-button .title-filtro h5 {
  margin: 0px;
  font-family: "Slabo 27px", serif;
  font-size: 16px;
  color: #000000;
}
.filter-container .offcanvas {
  background-color: #f4f5ef;
}
.filter-container .offcanvas .filter {
  padding: 20px;
}
.filter-container .offcanvas .filter .form-check-input:checked {
  background-color: rgba(239, 31, 31, 0.8666666667);
  border-color: rgba(239, 31, 31, 0.8666666667);
}
.filter-container .offcanvas .range-container {
  padding: 50px 20px 50px 0px;
  justify-content: space-around;
}
.filter-container .offcanvas .range-container .form-range {
  width: 220px;
}

.orden {
  position: relative;
}
.orden .dropdown-menu {
  position: absolute;
  z-index: 1;
}

/*sidebar ofertas*/
/*footer index*/
footer {
  flex-direction: column;
  grid-area: footer;
  background-color: rgb(245, 224, 224);
  border-top: 1px groove rgba(0, 0, 0, 0.212);
}
footer .medios-pago {
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 224, 224);
}
footer .medios-pago .tittle-pago {
  margin: 0px;
  padding: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  background-color: rgb(245, 224, 224);
}
footer .medios-pago .medios-pago-img {
  width: 500px;
  background-color: rgb(245, 224, 224);
}
footer .social-media {
  margin-top: 40px;
  border-top: 1px groove rgba(0, 0, 0, 0.212);
}
footer .social-media .tittle-social {
  margin: 0px;
  padding: 40px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  background-color: rgb(245, 224, 224);
}
footer .social-media .text-social {
  font-size: 16px;
  margin: 0px;
  padding-bottom: 40px;
  text-align: center;
  line-height: 2;
  background-color: rgb(245, 224, 224);
}
footer .social-media .contacto {
  justify-content: space-around;
  background-color: rgb(245, 224, 224);
}
footer .social-media .contacto .contacto-link {
  display: flex;
}
footer .social-media .contacto .contacto-link a {
  text-decoration: none;
  background-color: rgb(245, 224, 224);
}
footer .social-media .contacto .contacto-link a i {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: rgba(239, 31, 31, 0.8666666667);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.842);
}

/*mq index*/
.grid-container {
  grid-template: "header" auto "main" auto "footer" auto/100%;
}
@media screen and (min-width: 600px) {
  .grid-container .grid-container {
    display: grid;
    gap: 20px;
    grid-template: "header header" repeat(2, 1fr) "main main" repeat(2, auto) "footer footer" repeat(2, auto)/1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .grid-container .grid-container {
    display: grid;
    gap: 20px;
    grid-template: "header header header" repeat(3, 1fr) "main main main" repeat(3, auto) "footer footer footer" repeat(3, auto)/1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1100px) {
  .ofertas {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1100px) {
  .productos-contenedor {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1400px) {
  .productos-contenedor {
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
  }
}
/*productos-page*/
.container-product-body {
  grid-template: "header" auto "sidebar" auto "main" auto "footer" 1fr/100%;
}

@media screen and (min-width: 600px) {
  .container-product-body {
    display: grid;
    gap: 20px;
    grid-template: "header header" repeat(2, auto) "sidebar sidebar" repeat(2, auto) "main main" repeat(2, auto) "footer footer" repeat(2, 200px)/1fr 1fr;
  }
  .container-product-body .conteiner-grid-product {
    padding: 10px 50px 20px 50px;
    gap: 40px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .container-product-body {
    display: grid;
    gap: 20px;
    grid-template: "header header header" 1fr "sidebar sidebar sidebar" auto "main main main" auto "footer footer footer" auto/1fr 1fr 1fr;
  }
  .container-product-body .conteiner-grid-product {
    gap: 150px;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(2, 250px);
  }
  .ubic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1100px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
  }
  footer .medios-pago {
    width: 50%;
    border-right: 1px groove gray;
  }
  footer .social-media {
    width: 50%;
    margin: 20px;
    border-top: none;
  }
}
@media screen and (min-width: 1400px) {
  .container-product-body {
    grid-template: "header header header header" 1fr "sidebar sidebar sidebar sidebar" auto "main main main main" auto "footer footer footer footer" auto/1fr 1fr 1fr 1fr;
  }
  .container-product-body .conteiner-grid-product {
    gap: 100px;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: repeat(4, 250px);
  }
}
/*ofertas-page*/
.grid-container-oferta {
  grid-template: "header" 300px "sidebar" 80px "main" 1fr "footer" 50px/100%;
}

/*# sourceMappingURL=main.css.map */
