.width-max-width-max {
  width: 100%;
}

.display-d-flex {
  display: flex;
}

.display-d-grid {
  display: grid;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Slabo 27px", serif;
  background-color: #f4f5ef;
}

header {
  grid-area: header;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f4f5ef;
}
header .logo {
  width: 150px;
  margin-bottom: 50px;
}
header .logo img {
  width: 100%;
}
header nav {
  width: 100%;
  height: 100px;
  flex-direction: column-reverse;
}
header nav .categorias-contenedor {
  width: 100%;
  justify-content: space-around;
  align-self: flex-end;
  margin-bottom: 30px;
}
header nav .categorias-contenedor .categorias a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
header nav .buscador {
  height: 30px;
  justify-content: end;
  margin-bottom: 40px;
  margin-right: 20px;
}
header nav .buscador button {
  background-color: rgba(239, 31, 31, 0.8666666667);
  color: #ffffff;
  border-color: rgba(239, 31, 31, 0.4470588235);
  border-radius: 10px;
  font-size: 12px;
  height: 23px;
}
header nav .buscador input {
  width: 125px;
  height: 23px;
  font-size: 13px;
  text-align: center;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.4509803922);
}

/*main index*/
main {
  grid-area: main;
  background-color: #f4f5ef;
}
main .ofertas {
  width: 100%;
  background-image: url(../images/17b248fa1a70f1ea09788803466a0ebf.jpg);
}
main .ofertas button {
  width: 150px;
  height: 35px;
  margin: 80px;
  background-color: rgba(239, 31, 31, 0.8666666667);
  color: #ffffff;
  border-radius: 10px;
  border-style: hidden;
}
main .title-primary {
  padding: 50px 0px;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
main .productos-contenedor {
  width: 100%;
  grid-template-rows: repeat(4, auto);
  gap: 20px 0px;
  justify-content: center;
}
main .productos-contenedor .producto a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
main .productos-contenedor .producto a .producto-img {
  width: 270px;
  height: 320px;
}
main .productos-contenedor .producto a .producto-img:hover {
  zoom: 120%;
}
main .productos-contenedor .producto a .producto-img img {
  width: 100%;
}
main .productos-contenedor .producto a .producto-img h3 {
  font-weight: 100;
  text-align: center;
  position: relative;
  line-height: 10px;
  margin: 10px;
}

/*main products*/
.main-producto {
  justify-content: space-around;
}
.main-producto .conteiner-grid {
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  justify-content: space-around;
}
.main-producto .conteiner-grid .products {
  flex-wrap: wrap;
  justify-content: center;
  width: 120px;
  height: auto;
}
.main-producto .conteiner-grid .products:hover {
  zoom: 120%;
}
.main-producto .conteiner-grid .products .contenedor-product {
  text-decoration: none;
}
.main-producto .conteiner-grid .products .contenedor-product h3 {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.sidebar {
  grid-area: sidebar;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar .filtro-button {
  width: 80px;
  height: 35px;
  border-style: none;
}
.navbar .filtro-button h5 {
  font-family: "Slabo 27px", serif;
  font-size: 16px;
  color: #000000;
}
.navbar .offcanvas .form-check-input:checked {
  background-color: rgba(239, 31, 31, 0.8666666667);
  border-color: rgba(239, 31, 31, 0.8666666667);
}

/*footer index*/
footer {
  grid-area: footer;
  background-color: #f4f5ef;
  height: 500px;
  margin-top: 70px;
}
footer .ubic {
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}
footer .ubic i {
  padding: 25px 0px;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  font-style: normal;
}
footer .contacto {
  margin-top: 25px;
  width: 100%;
  height: 50px;
  justify-content: space-around;
}
footer .contacto .contacto-link {
  margin: 25px 0px;
  width: 90px;
  justify-content: space-around;
  top: 25px;
}
footer .contacto .contacto-link a {
  font-size: 14px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

/*mq index*/
.grid-container {
  grid-template: "header" 300px "main" auto "footer" 1fr/100%;
}
@media screen and (min-width: 600px) {
  .grid-container {
    display: grid;
    gap: 20px;
    grid-template: "header header" repeat(2, 1fr) "main main" repeat(2, auto) "footer footer" repeat(2, 200px)/1fr 1fr;
  }
}
@media screen and (min-width: 980px) {
  .grid-container .grid-container {
    display: grid;
    gap: 20px;
    grid-template: "header header header" repeat(3, 1fr) "main main main" repeat(3, auto) "footer footer footer" repeat(3, 200px)/1fr 1fr 1fr;
  }
}

@media screen and (min-width: 600px) {
  .productos-contenedor {
    padding-top: 20px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px 0px;
  }
}
@media screen and (min-width: 980px) {
  .productos-contenedor {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
}

/*productos-page*/
.grid-container-prod {
  display: grid;
  grid-template: "header" 300px "sidebar" 50px "main" 1fr "footer" 150px/100%;
}

/*# sourceMappingURL=main.css.map */
