//mq
@mixin mobile {
    @media screen and (min-width:$media-q-xs) {
       @content; 
    }
}
@mixin mobile-2 {
    @media screen and (min-width:$media-q-small) {
       @content; 
    }
}
@mixin tablet{
    @media screen and (min-width:$media-q-med) {
       @content; 
    }
}
@mixin desktop{
    @media screen and (min-width:$media-q-large) {
       @content; 
    }
}
@mixin desktop-xl {
    @media screen and (min-width:$media-q-xl) {
       @content; 
    }
}

//sin parametros 
@mixin ancla-diseño{
    text-decoration: none;
    color: $ancla;
    text-transform: uppercase;
    text-align: center;
}
@mixin cabecera {
    header {
        grid-area: header;
        align-items: center;
        flex-direction: column;
        background-color:$background-color;
        .logo {
            width: 150px;
            margin-bottom: 50px;
            img {
                width: $max-width;
            }
        }
        .container-fluid {
            flex-direction: column;
            .navbar-toggler-icon{
                margin-left: 100px;
            }
            .navbar-nav {
                width: $max-width;
                justify-content: space-around;
                align-self: flex-end;
                margin-bottom: 30px;
                .nav-link {
                    @include ancla-diseño;
                    justify-content:space-around
                }
            }
            form {
                height: 30px;
                justify-content: end;
                margin-bottom: 40px;
                margin-right: 20px;
                button {
                    background-color: $button-color;
                    color: $text-color;
                    border-color: $border-button-color;
                    border-radius: 10px;
                    font-size: $font-size1;
                    text-transform:capitalize;
                    align-content: center;
                    @include width-heigth(60px, 30px )
                }
                input {
                    @include width-heigth (125px, 30px);
                    font-size: $font-size2;
                    text-align: center;
                    border-radius: 10px;
                    border-color: $buscador-color;
                }
            }
            
        }
    }

}
//con parametros
@mixin width-heigth ($w, $h){
    width: $w;
    height: $h;
}