* {
    margin: 0px;
    padding: 0px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: $background-color;
}