/*mq index*/
.grid-container {
    grid-template:
        "header" 300px
        "main" auto
        "footer" 1fr/
        100%;

    @include tablet {
        display: grid;
        gap: 20px;
        grid-template:
            "header header" repeat(2, 1fr) "main main" repeat(2, auto) "footer footer" repeat(2, 200px)/
            1fr 1fr;
    }

    @include desktop {
        .grid-container {
            display: grid;
            gap: 20px;
            grid-template:
                "header header header" repeat(3, 1fr) "main main main" repeat(3, auto) "footer footer footer" repeat(3, 200px)/
                1fr 1fr 1fr;
        }
    }
}
.productos-contenedor {
    @include tablet {
        padding-top: 20px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 20px 0px;
    }
    @include desktop {
            padding-top: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
        }
    }
/*productos-page*/
.grid-container-prod {
    display: grid;
    grid-template:
        "header" 300px
        "sidebar" 50px
        "main" 1fr
        "footer" 150px/
        100%;
} 
@include mobile{
    .products {
        width: 150px;
    }
    .contenedor-product h3 {
        font-size: $font-size4;
    }
}
@include mobile-2{
    .products {
        width: 160px;
    }
    .contenedor-product h3 {
        font-size: $font-size6;
    }
}

@include tablet {
    .conteiner-grid {
        gap: 50px, 0px;
    }
    .products {
        width: 180px;
    }
    .contenedor-product h3 {
        font-size: $font-size5;
    }
}

@include desktop {
    .grid-container-prod {
        display: grid;
        grid-template:
            "header header header" 1fr
            "sidebar main main" auto
            "sidebar main main" auto
            "footer footer footer" 200px/
            20%     40%   40%;
    }
    .content{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }
}
/*ofertas-page*/
.grid-container-oferta{
    grid-template: 
    "header" 300px
    "sidebar"80px
    "main"1fr
    "footer"50px/
     100%;
}