/*footer index*/
footer{
    grid-area: footer;
    background-color: $background-color;
    height: 500px;
    margin-top: 70px;
    .ubic{
        flex-wrap: wrap;
        justify-content: space-around;
        height: 100%;
        i{
            padding: 25px 0px;
            text-align: center;
            align-content: center;
            text-transform: uppercase;
            font-style: normal;
        }
    }
    .contacto{
        margin-top: 25px;
        width: $max-width;
        height: 50px;
        justify-content: space-around;
        .contacto-link{
            margin: 25px 0px;
            width: 90px;
            justify-content: space-around;
            top: 25px;
            a{
                font-size: 14px;
                @include ancla-diseño
            }
        }
    }
}





