/*main index*/
main {
    grid-area: main;
    background-color: $background-color;
    .ofertas {
        width: $max-width;
        background-image: url(../images/17b248fa1a70f1ea09788803466a0ebf.jpg);
        button {
            @include width-heigth (150px, 35px);
            margin: 80px;
            background-color: $button-color;
            color: $text-color;
            border-radius: 10px;
            border-style: hidden;
        }
    }
    .title-primary {
        padding: 50px 0px;
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
    }
    .productos-contenedor {
        width: 100%;
        grid-template-rows: repeat(4, auto);
        gap: 20px 0px;
        justify-content: center;
        .producto a {
            @include ancla-diseño;
            .producto-img {
                @include width-heigth (270px, 320px);
                    &:hover {
                    zoom: 120%;
                }
                img {
                    width: $max-width;
                }
                h3 {
                    font-weight: 100;
                    text-align: center;
                    position: relative;
                    line-height: 10px;
                    margin: 10px;
                }
            }
        }
    }
}
/*main products*/
.main-producto {
    justify-content: space-around;
    .conteiner-grid {
        margin-top: 20px;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        justify-items: center;
        justify-content: space-around;
        .products {
            flex-wrap: wrap;
            justify-content: center;
            width: 140px;
            height: auto;
            &:hover{
                zoom: 120%;
                box-shadow: 0px 5px 3px #80808035;
            }
            .contenedor-product{
                text-decoration: none;
                color: #000000;
                text-transform: uppercase;;
                h3{
                    font-size: 15px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }
}
